.container{
  block-size: 100vh;
  inline-size: 960px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;

}

.orders{
  margin-block:30px;
  border: 7px inset rgb(131, 63, 63);
  inline-size: 90%;
  block-size:350px;
}
